<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>登録内容変更</title>
</head>
<body>
    <h1>登録内容変更</h1>
    <form action="" method="post">
        <div>
            <label>ユーザー名：</label>
            <input type="text" name="username"/>
        </div>
        <div>
            <label>新しいパスワード：</label>
            <input type="password" name="password"/>
        </div>
        <div>
            <input type="submit" value="変更"/>
        </div>
        <div><%= error %></div>
    </form>
</body>
</html>